@charset "utf-8";

/****************************************/
/*	Name: KHNP
/*	PART: LAYOUT STYLE
/*	Version: 1.0
/*	Author: [써냐]BLUEWEBD™
/****************************************/
/*  TEMP LAYOUT */
/*#quick {background:url(/publish/img/temp/tempAside.png) 0 0 no-repeat;}*/
#contents {min-height:450px;}

/*  COMMON LAYOUT */
#wrap {position:relative; min-width:1007px; margin-right:143px;}
header {position:relative; height:305px; z-index:40;}

.bg00 header {background:url(/publish/img/layout/bg_header.png) 50% 0 no-repeat;}
.bg01 header {background:url(/publish/img/layout/bg_header01.jpg) 50% 0 no-repeat;}
.bg02 header {background:url(/publish/img/layout/bg_header02.jpg) 50% 0 no-repeat;}
.bg03 header {background:url(/publish/img/layout/bg_header03.jpg) 50% 0 no-repeat;}
.bg04 header {background:url(/publish/img/layout/bg_header04.jpg) 50% 0 no-repeat;}
.bg05 header {background:url(/publish/img/layout/bg_header05.jpg) 50% 0 no-repeat;}
.bg06 header {background:url(/publish/img/layout/bg_header06.jpg) 50% 0 no-repeat;}
.bg07 header {background:url(/publish/img/layout/bg_header07.jpg) 50% 0 no-repeat;}
.bg08 header {background:url(/publish/img/layout/bg_header08.png) 50% 100% no-repeat; height:255px;}
.headerWrap, .visualWrap {position:relative; width:980px; margin:auto;}
.headerWrap:after {content:'.'; display:block; height:0px; clear:both; visibility:hidden; zoom:1;}
.headerWrap .logo {position:absolute; top:23px; left:5px;}

.gnb01dep > li, .util > li, .gnb02dep > dt, .gnb02dep > dd, .gnb03dep > li {float:left;}
.gnb01dep > li > a, .util > li > a, .gnb02dep > dt > strong, .gnb03dep > li > a {display:inline-block; letter-spacing:0px;}
.gnb01dep:after, .gnb02dep:after, .gnb03dep:after, .util:after {content:'.'; display:block; height:0px; clear:both; visibility:hidden; zoom:1;}

.gnb01dep {float:right; margin:18px 100px 26px 0;}
.gnb01dep > li {margin-right:14px;}
.gnb01dep > li > a {padding:5px 0 0px;}
.gnb01dep > li > a.gov30 {background:url(/publish/img/layout/txt_gov30.png) 0 0 no-repeat; padding-left:50px;}
.gnb01dep > li > a:hover, .gnb01dep > li > a:focus, .gnb01dep > li > a.on,
.gnb03dep > li > a:hover, .gnb03dep > li > a:focus, .gnb03dep > li > a.on
 {text-decoration:underline;}

.util {position:absolute; top:23px; right:8px;}
.util > li {margin-left:19px;}
.util > li:first-child {margin-left:0px;}
.util > li > a {background:url(/publish/img/layout/btn_utilmu.png) no-repeat; height:17px;}
.util > li > a > span {display:block; position:relative; z-index:-1; height:100%; white-space:nowrap; opacity:0; -ms-filter:"alpha (opacity=0)"; filter:alpha(opacity = 0); font-size:1px;}
.util > li > a.mu_eng {background-position:0 0; width:48px;}
.util > li > a.mu_allview {background-position:-48px 0; width:22px;}

.gnb02dep {clear:both; background:#3d7cda; height:52px; border-radius:10px;}
.gnb02dep dt, .gnb02dep dd, .gnb02dep a {color:#fff;}
.gnb02dep dt {background:#00a5bd; width:164px; text-align:center; height:100%;  border-radius:10px 0 0 10px; border-right:1px #fff solid;}
.gnb02dep dt strong {margin-top:12px; font-size:18px;}
.gnb02dep dt strong.gov30 {background:url(/publish/img/layout/txt_gov30.png) 0 -150px no-repeat; padding:6px 0 0 62px; margin-top:12px; font-size:18px; font-family:'khnpheadlineregular';}

.gnb03dep {margin-left:20px;}
.gnb03dep > li {margin-left:16px; line-height:45px; font-size:14px; font-weight:bold;}
.gnb03dep > li:first-child {margin-left:0;}

.visualWrap {min-height:187px;}
.visualWrap .menu {display:inline-block; position:absolute; top:50%; background:url(/publish/img/layout/ico_menu_paging.png) no-repeat; padding:0px 22px; min-height:32px; margin:-16px 20px; font-size:15px; color:#000;}
.visualWrap .menu:hover, .visualWrap .menu:focus {text-decoration:underline;}
.visualWrap .menu.prevMu {background-position:0 1px; left:0;}
.visualWrap .menu.nextMu {background-position:100% -199px; right:0;}

.visualWrap .titWrap {podition:relative; text-align:center; padding-top:40px; width:980px;}
.visualWrap .titWrap .tit.dep01 {display:block; width:980px; font-size:45px; margin-bottom:9px; text-align:center; font-family:'khnpheadlineregular';}
.visualWrap .titWrap .copy {color:#202d3f; font-size:18px;}

#container {position:relative; width:980px; margin:80px auto 0; z-index:30;}
#container.hasPopup {z-index:150;}
#container.cal_dimm {z-index:50;}
#container:after {content:'.'; display:block; height:0px; clear:both; visibility:hidden; zoom:1;}

#breadCrumbs {margin:-57px 0 18px;}
.breadCrumbs_snsShare {float:right; min-height:33px;}
.breadCrumbs_snsShare .lst a, .breadCrumbs_snsShare .lst span {display:inline-block; vertical-align:middle;}
.breadCrumbs_snsShare .lst .ico > em, .breadCrumbs_snsShare .lst .ico > span {display:block; position:relative; z-index:-1; height:100%; white-space:nowrap; opacity:0;-ms-filter:"alpha (opacity=0)"; filter:alpha(opacity = 0);}

.lst.bread_crumbs {margin-top:5px;}
.lst.bread_crumbs .ico {background:url(/publish/img/layout/ico_pageUtil.png) -223px 7px no-repeat; padding-left:8px; margin-left:8px; color:#555;}
.lst.bread_crumbs .ico.home {background-position:-185px 5px; width:9px; padding:0; margin:0;}
.lst.bread_crumbs .ico.here {color:#000;}

.lst.snsShare li {margin-left:5px;}
.lst.snsShare li:first-child {margin-left:15px;}
.lst.snsShare .ico {background:url(/publish/img/layout/ico_pageUtil.png) no-repeat; width:33px; height:33px;}
.lst.snsShare .ico.facebook {background-position:0px 0px;}
.lst.snsShare .ico.twittter {background-position:-38px 0px;}
.lst.snsShare .ico.mail {background-position:-76px 0px;}
.lst.snsShare .ico.print {background-position:-114px 0px;}

#bodyConts.sub {}
#bodyConts:after {content:'.'; display:block; height:0px; clear:both; visibility:hidden; zoom:1;}
#pageLnkShare {clear:both; margin:25px 0 -58px;}

footer {position:relative; z-index:20;margin:100px 0 60px; height:170px;}
.footerWrap {position:relative; width:980px; margin:auto;}
.footerWrap .logo,
.footerinfo > .snsLnk > li >a
 {background:url(/publish/img/layout/footer.png) no-repeat;}
.footerWrap .logo {display:inline-block; position:absolute; top:0; left; background-position:0 0; width:124px; height:32px;}
.footerWrap .footerinfo {margin-left:226px;}
.footerinfo > .snsLnk > li {margin-left:20px;}
.footerinfo > .snsLnk > li:first-child {margin-left:0px;}
.footerinfo > .snsLnk > li > a {display:inline-block; width:22px; height:23px;}
.footerinfo > .snsLnk li > a.facebook {background-position:-226px 0;}
.footerinfo > .snsLnk li > a.twitter {background-position:-268px 0;}
.footerinfo > .snsLnk li > a.naver {background-position:-310px 0;}
.footerinfo > .snsLnk li > a.kakaoStory {background-position:-352px 0;}
.footerinfo > .snsLnk li > a.youtube {background-position:-394px 0;}

.footMenu {margin-top:20px;}
.footMenu > li {background:url(/publish/img/layout/footer_menu_line.png) 0 65% no-repeat; padding:0 12px;}
.footMenu > li:first-child {background:none; padding-left:0;}
.footMenu > li > a:hover, .footMenu > li > a:focus {text-decoration:underline;}
.footMenu > li > a >strong {color:#1a4193;}

.footerinfo > address {margin-top:13px;}
.footerinfo .address li {line-height:24px; color:#000;}
.footerinfo .address li > strong {display:inline-block; margin-right:20px;}
.footerinfo .address li > strong.khnp {margin-right:5px;}

/* 전체메뉴 */
.all_menu {width:100%; position:fixed; top:0; left:0; background:#fff; overflow:auto; display:none;}
.all_menu_inner {width:980px; margin:0 auto; min-height:310px; max-height:510px; overflow:auto; position:relative;}
.all_menu.open {display:block; z-index:99999;}
.all_menu .all_depth1{}
.all_menu .all_depth1:after {content:'.'; display:block; height:0px; clear:both; visibility:hidden; zoom:1;}
.all_menu .all_depth1 .depth11 {width:150px;}
.all_menu .all_depth1 .depth12 {width:155px;}
.all_menu .all_depth1 .depth13 {width:130px;}
.all_menu .all_depth1 .depth14 {width:145px;}
.all_menu .all_depth1 .depth15 {width:142px;}
.all_menu .all_depth1 .depth16 {width:132px;}
.all_menu .all_depth1 .depth17 {width:px;}
.all_menu .all_depth1 > li {position:relative; float:left; padding-bottom:43px;}
.all_menu .all_depth1 > li > a {min-width:45px; font-size:16px; display:block; margin-bottom:35px; padding-top:5px; font-family:khnpheadlineregular, '맑은고딕', 'malgun Gothic', '돋움', 'dotum';}
.all_menu .all_depth1 > li.gov30 > a {padding:5px 0 0 52px; background:url(/publish/img/main/ico/ico_gov30.png) no-repeat;}
.all_menu .all_depth2 li:first-child {margin-top:0;}
.all_menu .all_depth2 li {margin-top:7px;}
.all_menu .all_depth2 a {font-size:13px;}
.all_menu .all_depth2 a:hover,
.all_menu .all_depth2 a:focus {color:#0c4da2; border-bottom:1px solid #0c4da2; margin-bottom:-1px;}
.all_menu .all_depth2 a.choice {background:#517ad0; color:#fff;}
.all_menu .all_depth3 {display:none; margin-top:8px;}
.all_menu .all_depth3 li {margin-top:4px; padding-left:12px; background:url(/publish/img/ico/ico_allmenu_3dep.png) 2px 7px no-repeat;}
.all_menu .all_depth3 li:first-child {margin-top:0;}
.all_menu .all_depth3 li a {font-size:12px; color:#838383;}
.all_menu.dep3_open .all_depth3 {display:block;}

.all_menu .visit_type {width:100%;}
.all_menu .visit_type dl {margin:0 auto;}
.all_menu .visit_type dl dt {padding:50px 0 20px 0; text-align:center; border-bottom:1px solid #cfcfcf;}
.all_menu .visit_type dl dt .inner {width:980px; margin:0 auto;}
.all_menu .visit_type dl dd {text-align:center; width:980px; margin:0 auto; padding:40px 0 26px 0;}
.all_menu .visit_type dl dd li {display:inline-block; zoom:1;}
.ie7 .all_menu .visit_type dl dd li {display:inline;}
.all_menu .visit_type dl dd li a {display:block; width:116px; text-align:center; font-size:18px; line-height:1; background:url(/publish/img/com/sp_allmenu_choice.png) -125px 0 no-repeat; margin:0 3px; padding:8px 0 13px;}
.all_menu .visit_type dl dd li a:hover,
.all_menu .visit_type dl dd li.on a {background-position:0 0; color:#fff;}
.all_menu .dep3_close {border-top:1px solid #cfcfcf; text-align:center;}
.all_menu .dep3_close a {font-size:18px; line-height:1; display:inline-block; padding:22px;}
.all_menu .close {position:absolute; top:52px; right:50%; margin-right:-490px;}

/* QUICK */
#quick {position:fixed; top:0; right:0; width:143px; z-index:50; background:#f3f3f3;}
#quick > ul {}
#quick > ul > li.ico > a {background:url(/publish/img/layout/sp_quick_icon.png) no-repeat;}
#quick > ul > li.ico01 > a {background-position:0 0; padding-top:35px;}
#quick > ul > li.ico01 > a:hover {background-position:-143px 0;}
#quick > ul > li.ico02 > a {background-position:0 -42px; padding-top:62px;}
#quick > ul > li.ico02 > a:hover {background-position:-143px -42px;}
#quick > ul > li.ico03 > a {background-position:0 -117px; padding-top:60px;}
#quick > ul > li.ico03 > a:hover {background-position:-143px -117px;}
#quick > ul > li.ico04 > a {background-position:0 -190px; padding-top:48px;}
#quick > ul > li.ico04 > a:hover {background-position:-143px -190px;}
#quick > ul > li.ico05 > a {background-position:0 -252px; padding-top:53px;}
#quick > ul > li.ico05 > a:hover {background-position:-143px -252px;}
#quick > ul > li.ico06 > a {background-position:0 -323px; padding-top:50px;}
#quick > ul > li.ico06 > a:hover {background-position:-143px -323px;}
#quick > ul > li:first-child {margin-top:0;}
#quick > ul > li > a {display:block; overflow:hidden; text-align:center; font-size:14px; line-height:18px;}
#quick > ul > li > a:hover {color:#0e5dfe;}
#quick .open_quick {background:url(/publish/img/ico/ico_arrow_left.gif) 9px center #5185ea no-repeat; padding:1px 0 1px 24px; position:fixed; right:0; top:300px;}
#quick .open_quick span {display:block; height:31px; padding:0 12px; line-height:31px; font-size:14px; color:#000; background:#fff;}

/* QUICK - 레이어 팝업 스타일(공통) */
#quick .quick_layer {display:none; position:fixed; left:50%; top:124px; z-index:40;}
#quick .quick_layer.on {display:block;}
#quick .quick_layer .head {display:block; padding:14px 0; background:#517ad0; text-align:center;}
#quick .quick_layer .cont {background:#fff; padding:60px;}
#quick .quick_layer a.close {display:block; width:19px; height:19px; position:absolute; right:15px; top:15px; background:url(/publish/img/ico/btn_close.png) no-repeat;}
/* QUICK - 통합검색 */
#quick .quick_layer.search {width:980px; margin-left:-490px;}
#quick .quick_layer.search .cont .overlay_wrap {padding-right:85px; display:block; border-bottom:2px solid #3f73b6;}
#quick .quick_layer.search .cont .overlay_wrap .overlay_guide {font-size:48px; color:#bcbcbc; width:100%; text-align:center; top:12px;}
#quick .quick_layer.search .cont input[type=text] {border:0; font-size:48px; text-align:center; padding:14px 0 20px 0;}
#quick .quick_layer.search .cont .btn_search {display:block; width:85px; height:84px; background:url(/publish/img/ico/btn_search.png) no-repeat; position:absolute; right:0;  top:0; z-index:20;}
#quick .quick_layer.search .cont .recomm_text {padding-top:40px;}
#quick .quick_layer.search .cont .recomm_text dl {margin-top:10px;}
#quick .quick_layer.search .cont .recomm_text dl:first-child {margin-top:0;}
#quick .quick_layer.search .cont .recomm_text dl:after {content:'.'; display:block; height:0px; clear:both; visibility:hidden; zoom:1;}
#quick .quick_layer.search .cont .recomm_text dt, .recomm_text dd {float:left;}
#quick .quick_layer.search .cont .recomm_text dt {width:110px; float:left; font-size:16px; font-weight:bold; color:#00ac4f; margin-right:26px;}
#quick .quick_layer.search .cont .recomm_text dd > ul:after {content:'.'; display:block; height:0px; clear:both; visibility:hidden; zoom:1;}
#quick .quick_layer.search .cont .recomm_text dd > ul > li {float:left; padding:0 16px; border-left:2px solid #e1e1e1;}
#quick .quick_layer.search .cont .recomm_text dd > ul > li > a {font-size:16px; color:#000;}
#quick .quick_layer.search .cont .recomm_text dd > ul > li > a:hover {text-decoration:underline;}
#quick .quick_layer.search .cont .recomm_text dd > ul > li:first-child {border:0;}
/* QUICK - 글쓰기 */
#quick .quick_layer.write {width:746px; margin-left:-373px;}
#quick .quick_layer.write .cont {padding:0;}
#quick .quick_layer.write .write_list {}
#quick .quick_layer.write .write_list:after {content:'.'; display:block; height:0px; clear:both; visibility:hidden; zoom:1;}
#quick .quick_layer.write .write_list li {border-left:1px solid #e0e0e0; float:left; width:248px; padding-top:24px;}
#quick .quick_layer.write .write_list li.siren a {background-position:0 30px;}
#quick .quick_layer.write .write_list li.question a {background-position:-248px 30px;}
#quick .quick_layer.write .write_list li.headphone a {background-position:-496px 30px;}
#quick .quick_layer.write .write_list li.checkboard a {background-position:-744px 30px;}
#quick .quick_layer.write .write_list li.calendar a {background-position:-992px 30px;}
#quick .quick_layer.write .write_list li.ribbon a {background-position:-1240px 30px;}
#quick .quick_layer.write .write_list li:first-child {border:0;}
#quick .quick_layer.write .write_list li a {display:block; padding:150px 0 30px 0; height:96px; background:url(/publish/img/layout/sp_quick_writeList.png) no-repeat;}
#quick .quick_layer.write .write_list li a strong, #quick .quick_layer.write .write_list li a span {display:block; color:#000;}
#quick .quick_layer.write .write_list li a strong {font-weight:normal; font-size:24px; text-align:center;}
#quick .quick_layer.write .write_list li a span {font-size:12px; padding:0 55px;}
/* QUICK - 사업소 메뉴 */
#quick .office_menu {position:fixed; right:143px; top:0; height:100%; width:0px; background:#f3f3f3; overflow:hidden;}
#quick .office_menu > ul > li {padding-left:69px; margin-top:17px; background:url(/publish/img/main/ico/bul_dot.gif) 60px 10px no-repeat;}
#quick .office_menu > ul > li:first-child {margin-top:0;}
#quick .office_menu > ul > li > a {font-size:14px; color:#000; white-space:nowrap;}
#quick .office_menu > ul > li > a:hover {text-decoration:underline;}
/* QUICK - 참여마당*/
#quick .event_layer {position:fixed; top:0; right:-100%; width:100%; height:100%; background:#fff; overflow-y:auto;}
#quick .event_layer > a.close {position:absolute; top:50px; right:40px; z-index:20;}
#quick .event_layer .evt_slide {width:100%; height:436px; text-align:center; position:relative;}
#quick .event_layer .evt_slide .slideshow {overflow:hidden; position:relative; width:100%; height:100%;}
#quick .event_layer .evt_slide .slideshow dd {display:block; position:absolute; top:0; width:100%;}
#quick .event_layer .evt_slide .btn {position:absolute; display:block; top:28px; margin-top:0; padding:0; width:10px; min-width:10px; height:15px; text-align:center; background:url(/publish/img/layout/event_slide_controls.png) 0 21px no-repeat; border:none; z-index:10;}
/*#quick .event_layer .evt_slide .btn.prev {right:20px; background-position: 0 0;}
#quick .event_layer .evt_slide .btn.next {right:0; bammmckground-position: -12px 0;}*/
#quick .event_layer .evt_slide .btn.state {right:50%; margin-right:-490px; background-position:-14px -21px;; border-radius:0;}
#quick .event_layer .evt_slide .state em {display:none;}
#quick .event_layer .evt_slide .state.play {background-position:0 -21px;}
#quick .event_layer .evt_slide .state.play span {display:block;}
#quick .event_layer .evt_slide .state.stop em {display:none;}
#quick .event_layer .evt_slide .indic {position:absolute; top:28px; z-index:10;}
#quick .event_layer .evt_slide .indic a {display:block; width:15px; height:15px; background: #000; background:url(/publish/img/layout/event_slide_controls.png) -37px 0 no-repeat;}
/*#quick .event_layer .evt_slide .indic a:hover,*/
#quick .event_layer .evt_slide .indic.active a {background-position:0 0; width:33px;}
#quick .event_layer .event_list {width:980px; margin:15px auto 0;}
.event_list .sort_check .sort_type{margin-bottom:30px;}
.event_list .sort_check dl {}
.event_list .sort_check dd > ul:after,
.event_list .sort_check dl:after {content:'.'; display:block; height:0px; clear:both; visibility:hidden; zoom:1;}
.event_list .sort_check dt, .event_list .sort_check dd {float:left;}
.event_list .sort_check dt {width:115px; font-size:24px; font-weight:bold; color:#000; margin-right:58px; text-align:right;}
.event_list .sort_check dd {width:805px;}
.event_list .sort_check dd label {font-size:13px; color:#000; line-height:32px;}
.event_list .sort_check dd > ul {}
.event_list .sort_check dd > ul > li {float:left; margin-right:20px;}
.event_list .checkWrap span {width:18px; height:18px; background:url(/publish/img/ico/sp_checkbox.png) no-repeat 0 -33px; border:0; top:1px;}
.event_list .checkWrap label.on {font-weight:bold;}
.event_list .checkWrap label.on span {background:url(/publish/img/ico/sp_checkbox.png) no-repeat 0 0;}
.event_list .checkWrap label {padding-left:28px;}
.event_list .photoWwrap.event > ul {border-top:0; padding-top:40px; border-bottom:1px solid #cfcfcf;}
.event_list .split.col4 .colSec {margin-right:9px;}
.event_list .photoWwrap.event .ofName {display:block; font-weight:bold; margin-bottom:5px;}
.event_list .photoWwrap.event .btnWrap {margin:0; text-align:center;}
.event_list .photoWwrap.event .btn_more {display:inline-block; padding:17px 20px 20px; font-size:18px;}
.event_list .photoWwrap > ul > li {border:1px solid #d6d6d6;}
.event_list .photoWwrap > ul > li > .tit {font-size:14px; padding:12px 20px;}
.event_list .photoWwrap.event > ul > li.colSec {width:236px;}



/*  SNB */
#leftWrap {}
.snb01dep {border-top:1px #bababa solid;}
.snb01dep > li > a, .snb02dep > li > a {display:inline-block; color:#000;}
.snb01dep > li.on > a, .snb02dep > li.on > a {display:inline-block; color:#0c4da2; font-weight:bold;}

.snb01dep > li {padding:8px 0 12px; border-bottom:1px #bababa solid;}
.snb01dep > li.on {background:url(/publish/img/layout/ico_snb_dep.png) 95% 15px no-repeat; margin-top:-1px; padding:8px 0 10px; border-bottom:1px #6f6f6f solid; border-top:1px #6f6f6f solid;}
.snb01dep > li > a {margin:0 15px 0 10px; font-size:14px; line-height:1.3;}
.snb01dep > li.on > a {font-size:17px;}

.snb01dep > li.on .snb02dep {display:block;}
.snb02dep {display:none; margin-top:10px;padding:10px 11px 4px; border-top:1px #bababa solid;}
.snb02dep > li {padding:4px 0 6px;}
.snb02dep > li > a {font-size:13px; line-height:1.4;}
.snb02dep > li.on > a {text-decoration:underline;}

/* 활성·비활성 위치확인 임시 css
.snb01dep > li:hover > a, .snb02dep > li:hover > a {display:inline-block; color:#0c4da2; font-weight:bold;}
.snb01dep > li:hover {padding:8px 0 9px;}
.snb01dep > li:hover {background:url(/publish/img/layout/ico_snb_dep.png) 95% 15px no-repeat; margin-top:-1px; padding:8px 0 9px; border-bottom:1px #6f6f6f solid; border-top:1px #6f6f6f solid;}
.snb01dep > li:hover > a {font-size:17px;} */



/*  SUB LAYOUT col1 */
#wrap.subLayout01 #contents {width:980px;}

/*  SUB LAYOUT col2 */
#wrap.subLayout02 {}
#wrap.subLayout02 #leftWrap {float:left; width:166px;}
#wrap.subLayout02 #contents {float:right; width:754px;}

/* 암막효과 */
#wrap > .dimm {position:fixed; top:0; left:0; width:100%; height:100%; background:#000; z-index:40; opacity:0.4}

/* layerpopup */
#layerWarp{position:absolute}
#calendar_wrap .lay-pop{display:none;}
.lay-pop{z-index:10;margin:0;width:100%;height:100%;background:transparent;min-width:320px;max-width:640px}
.lay-pop.full{max-width:none;}
.layer_pop_wrap.on .lay-pop{min-width:300px;max-width:620px}
#layerWarp .lay-pop{position:absolute;left:0px;top:0px;}
.lay-pop > .lay_wrap {position:relative; padding:0 0 35px 0; background:#fff; min-height: 460px;}
.lay-pop > .lay_wrap .title {padding:12px 20px 20px; background:#0060C2; font-size:20px; font-weight:bold; color:#fff;}
.lay-pop > .lay_wrap .inner {padding:17px 0 0 0; text-align:center; margin:0 15px;}
.lay-pop > .lay_wrap .inner .txt_box .tit {font-size:18px; font-weight:bold; color:#2b4e9b}
.lay-pop > .lay_wrap .inner .txt_box .txt {display:block; padding-top:11px; font-size:14px; line-height:18px; color:#666}
.lay-pop > .lay_wrap .inner .txt_box .txt > em {font-size:13px; color:#2b4e9b}
.lay-pop > .lay_wrap .inner .txt_box .img {padding:13px 0 17px 0;}
.lay-pop > .lay_wrap .inner .txt_box .img img {width:56px; height:56px}
.lay-pop > .lay_wrap .inner .txt_box .input {padding:23px 0 40px}
.lay-pop > .lay_wrap .inner .txt_box .input li:first-child {margin-bottom:22px}
.lay-pop > .lay_wrap .inner .txt_box .input input {width:100%; height:45px; padding:15px; font-size:14px; color:#444; border:1px solid #d7dadd; box-sizing:border-box}
.lay-pop > .lay_wrap .inner .txt_box .input input::-webkit-input-placeholder {color:#d7d7d7}
.lay-pop > .lay_wrap .inner .txt_box  .winner_txt {margin-top:20px; border:1px solid #d8dbde}
.lay-pop > .lay_wrap .inner .txt_box  .winner_txt dt {padding:7px 0 7px; font-size:14px; color:#666b75; border-bottom:1px solid #d8dbde}
.lay-pop > .lay_wrap .inner .txt_box  .winner_txt dd {padding:14px 0 15px; font-size:20px; line-height:20px; font-weight:bold; color:#252525}
.lay-pop > .lay_wrap .lay-close {width:58px; height:48px; position:absolute; top:0; right:0; border:none; display:inline-block; text-align:center; vertical-align:middle}
.layer_pop_wrap{display:none;position:absolute; z-index:11; background:#fff; box-shadow:3px 10px 10px rgba(0,0,0,.5);z-index:100;}

.layer_pop_wrap.on,
.layer_pop_wrap:target{display:block}
.overlayerBg {position: fixed;left: 0;top: 0;background-color: #000; z-index:25;}
.lay-pop .lay_wrap .mtop {margin-top:20px}

/* 달력 */
#calendar_wrap .wrap_input {position:relative; width:49.5%; float:left; padding-right:0;}
#calendar_wrap .cal_input.single {display:inline-block; width:auto; max-width:none; }
#calendar_wrap .cal_input.single .wrap_input {display:inline-block; float:none; width:auto;}
#calendar_wrap .cal_input {position:relative; max-width:380px;}
#calendar_wrap .cal_input:after {display:block; clear:both; content:'';}

#calendar_wrap .cal_input .mark {position:absolute; left:46.5%; top:7px}
#calendar_wrap .wrap_input  input[type="text"] {width:130px; text-indent:10px; font-size: 14px;color: #444;background: #fff;}
#calendar_wrap .wrap_input > span {position:relative; display:inline-block; width:92%;/* margin-right:7px;*/}
#calendar_wrap .wrap_input  input::-webkit-input-placeholder {color:#d7d7d7}
#calendar_wrap .btn_cal {margin:0; height:27px; line-height:27px; font-size:14px; font-weight:bold; width:34px; background:url(/publish/img/ico/ico_cal.png) no-repeat; display:inline-block; zoom:1;}
#calendar_wrap .wrap_input.right {float:right; margin-left:1%;}
#calendar_wrap .btn_cal.left{right: 207px;}
#calendar_wrap .btn_cal.right{right:0px;}

.cansleBtn{display:none}
.lay-pop.lay-datepicker .lay_wrap {padding-bottom:0;height:460px;}
.datepicker-days .calendarClose.btn_confirm {position:static;border:0;background:none;padding:20px 30px 0;margin-top: 0; text-align:center;}
.lay_wrap .calendarClose2.btn_confirm {position:static;border:0;background:none;padding:20px 30px 0;margin-top: 0; text-align: center;}
.datepicker-days .btn_cal a, .lay_wrap .btn_cal a {display:inline-block; width:100%; height:40px; background:#2b4e9b; font-size:15px; font-weight:bold; line-height:40px; color:#fff; text-align:center}
.datepicker-days .a_block {display:inline-block; width:40px; height:40px; vertical-align:top }
.datepicker-days .prev_y,
.datepicker-days .prev_m,
.datepicker-days .next_y,
.datepicker-days .next_m {width:40px; height:40px; background-repeat:no-repeat; background-image:url(/publish/img/ico/calendar_arrow.png);}
.datepicker-days .prev_y {background-position:12px center;}
.datepicker-days .prev_m {background-position:-34px center;}
.datepicker-days .next_y {background-position:104% center;}
.datepicker-days .next_m {background-position:87% center;}

.datepicker-days.month .weeks, .datepicker-days.month .controlDiv .prev, .datepicker-days.month .controlDiv .next{display:none;}
.datepicker-days.month table{margin-top:10px;}
.datepicker-days.month table td{display:inline-block;text-align: center;}
.datepicker-days.month table td a{display:inline-block;width:74px;height:50px;margin:5px;line-height: 50px;border:1px solid #eee;margin:5px;}
.datepicker-days.month .yearDate {width: 180px;}
.datepicker-days.month table td.disabled a{background:#eee;cursor: default;}

.lay-datepicker.open, .lay-datepicker.twoPop{display:inline-block;padding: 0 14px;}

.datepicker {background:#fff;width:290px;margin:0 auto; z-index:10000;margin-top:20px;}
.datepicker > div {display:none;}
.datepicker .controlDiv{padding:0 15px;}
.datepicker .controlDiv p{display: table-cell;vertical-align: middle;}
.datepicker .yearDate{width: 96px; height:40px; text-align:center; height:40px; font-size:16px; color:#333;font-weight: bold;}
.datepicker table {width:100%; margin:0; padding:0 15px; border-collapse:inherit}
.datepicker th { text-align:center; width:40px; height:20px; /* padding: 6px !important; */ font-size:18px; color:#333;}
.datepicker td.c_mint a {
    color: #333 !important; background: #fff; -webkit-border-radius:20px; -moz-border-radius: 20px; -ms-border-radius: 20px; -o-border-radius: 20px;
    border-radius: 20px; background-color: #d5cddc;
}
.datepicker td { /* padding: 3px !important; */}
.datepicker td a { color:#333; display:block; width:30px; height:30px; line-height:30px; text-align:center; font-size:14px; text-decoration: none;
  font-weight:bold; margin:10px 0 auto }
.datepicker td.day a:focus {background:#none; cursor:pointer; text-decoration:none;}
.datepicker td.day.disabled {color:#eee;}
.datepicker td.day.disabled a{background:#eee;cursor: default;}
.datepicker td.old,
.datepicker td.new {color:#666666;}
.datepicker td.old a,
.datepicker td.new a {color:#d7d7d7;}
.datepicker td.active.c_mint a { color:#ffffff !important;}
.datepicker td.active a,
.datepicker td.active a:focus {color:#fff; font-weight:bold; background-color:#666666; border:0 !important; position:relative}

.datepicker td span {
    display:block; width:47px; height:54px; line-height:54px; float:left; margin:2px; cursor:pointer; -webkit-border-radius: 4px;
    -moz-border-radius:4px; -ms-border-radius:4px; -o-border-radius:4px;  border-radius:4px;
}
.datepicker td span:focus { background:#eee;}
.datepicker td span.active {color: #fff; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); behavior: url(/js/css3pie/pie.htc); position: relative}
.datepicker td span.old {color:#666666;}
.datepicker .weeks{padding:0 15px;}
.datepicker li.dow {color:#333333; font-size:12px; border-bottom:3px solid #d7d7d7; padding-bottom:10px;float: left;width: 14%;text-align: center;}
.datepicker li.dow:first-child{color:#f7271d}
.datepicker th.switch {width:145px}
.datepicker th.next,
.datepicker th.prev { font-size:12px; color:#b8b8b8;}
.datepicker .date_info {margin:5px; font-size: 12px; border:1px solid #ccc; border-radius:3px; padding:5px; text-align:center}
.datepicker .date_info .selected_date,
.datepicker .date_info .possible_date {display:inline-block; position:relative; padding-left:20px;}
.datepicker .date_info .selected_date:after,
.datepicker .date_info .possible_date:after {display:block; content: ""; position: absolute; left:0; top:2px; width:15px; height:15px; border-radius:8px; background-color:#642d91;}
.datepicker .date_info .possible_date {margin-left:10px;}
.datepicker .date_info .possible_date:after {background-color:#d5cddc;}
.input-append.date .add-on i,
.input-prepend.date .add-on i {display:block; cursor:pointer; width:16px; height:16px;}

/* 약관박스 */
.terms {padding-bottom:20px; margin-bottom:20px;border-bottom:1px #ddd solid}
.termsWrap {min-height:100px; margin-bottom:10px; overflow-y:scroll; border:1px #ddd solid;}
.termsWrap #termsBox {margin:10px;}