@charset "utf-8";

/****************************************/
/*	Name: PUBLISHING GUIDE
/*	PART: IMPORT STYLE
/*	Version: 1.0
/*	Author: [써냐]BLUEWEBD™
/****************************************/

@import url(cm.reset.css);        /* 문서 초기화 스타일 */
@import url(cm.khnp.css);         /* 공통 스타일 (ex. 버튼, 테이블, 게시판, 기본 블릿리스트, 팝업 등) */



/* 사업소 레이아웃 수정 조희욱 */
#wrap.office {min-width:1007px; padding-bottom:120px; background-repeat:no-repeat; background-position:50% 0; background-color:#142535;}

/* 배경 (11_11진영) */
#wrap.office1 {background-image:url(/publish/img/office/01/bg_office.jpg); background-repeat:no-repeat; background-position:50% 0; background-color:#01090a;}
#wrap.office2 {background-image:url(/publish/img/office/02/bg_office.jpg); background-repeat:no-repeat; background-position:50% 0; background-color:#040807;}
#wrap.office3 {background-image:url(/publish/img/office/03/bg_office.jpg); background-repeat:no-repeat; background-position:50% 0; background-color:#0b0703;}
#wrap.office4 {background-image:url(/publish/img/office/04/bg_office.jpg); background-repeat:no-repeat; background-position:50% 0; background-color:#01090a;}
#wrap.office5 {background-image:url(/publish/img/office/05/bg_office.jpg); background-repeat:no-repeat; background-position:50% 0; background-color:#01090a;}
#wrap.office6 {background-image:url(/publish/img/office/06/bg_office.jpg); background-repeat:no-repeat; background-position:50% 0; background-color:#01090a;}
#wrap.office7 {background-image:url(/publish/img/office/07/bg_office.jpg); background-repeat:no-repeat; background-position:50% 0; background-color:#01090a;}
#wrap.office8 {background-image:url(/publish/img/office/08/bg_office.jpg); background-repeat:no-repeat; background-position:50% 0; background-color:#01090a;}


#wrap.subLayout01 #breadCrumbs {top:0;} /* LNB 없을 때 */
#wrap.subLayout01 #bodyConts {padding-top:91px;} /* LNB 없을 때 */
.office header .headerWrap {background:#fff; height:100px; width:100%;}
/**상단영역**/
.office header{position:relative;width:100%; height:auto;}
.office header .headerWrap .inner {width:980px; margin:0 auto; position:relative;}
.office .headerWrap .logo{position:absolute;left:0;top:46px;}
/*유틸메뉴*/
.office .util{position:absolute;right:0;top:16px}
.office .util > li{margin-left:10px; float:left;}
.office .util > li > a {background:url(/publish/img/office/00/main/btn_util.png) no-repeat;width:48px;height:17px; display:inline-block;}
.office .util > li > a > span {display:block; position:relative; z-index:-1; height:100%; white-space:nowrap; opacity:0; -ms-filter:"alpha (opacity=0)"; filter:alpha(opacity = 0); font-size:1px;}
.office .util > li > a.mu_site {background-position:0 0}
.office .util > li > a.mu_eng {background-position:100% 0}
/*사업소*/
.office .bis_place{position:absolute;left:170px;top:40px;width:137px;border:2px solid #0061c1;border-radius:3px; z-index:20;}
.office .bis_place dt a{position:relative;display:block;height:32px;line-height:32px;background:#0061c1;color:#fff;font-size:14px;font-weight:bold;text-indent:20px}
.office .bis_place dt a:after{content:'';display:block;position:absolute;right:16px;top:50%;width:9px;height:5px;background:url(/publish/img/office/00/main/icon_arrow.png) no-repeat 0 -10px;}
.office .bis_place dt a.on:after{background-position:0 0}
.office .bis_place dd{display:none;background:#fff;text-align:center;box-shadow:1px 1px 3px 0 rgba(0,0,0,.3)}
.office .bis_place dd ul{margin:5px 0}
.office .bis_place dd a{color:#000;font-size:13px;line-height:30px;}
.office .bis_place dd a:hover{color:#3d7cda;font-weight:bold;text-decoration:underline}
.office .bis_place dd p{height:38px;line-height:38px;color:#0c4da2;font-weight:bold;font-size:13px;background:#f5f5f5 url(/publish/img/office/00/main/bg_logo.png) no-repeat 14px 50%;text-indent:25px}
/*gnb메뉴*/
.office .headerWrap{width:980px;height:100px;margin:0 auto;z-index:20;}
.office .headerWrap .depth1{margin-left:342px;padding-top:50px}
.office .headerWrap .depth1:after {content:'.'; display:block; height:0px; clear:both; visibility:hidden; zoom:1;}
.office .headerWrap .depth1 > li {position:relative; float:left; padding-bottom:30px;}
.office .headerWrap .depth1 > li > a {min-width:45px;font-size:16px;padding-right:40px;font-weight:bold;display:block;color:#000; font-family:khnpheadlineregular, '맑은고딕', 'malgun Gothic', '돋움', 'dotum';}
.office_m.office8 .headerWrap .depth1 > li > a {padding-right:39px;}
.office .headerWrap .depth1 > li > a:hover,.office_m .headerWrap .depth1 > li > a:focus{color:#3d7cda}
.office .headerWrap .depth2 {display:none;position:absolute; left:0; top:70px; z-index:20;}
.office .headerWrap .depth2 li {margin-top:7px;}
.office .headerWrap .depth2 li:first-child {margin-top:0;}
.office .headerWrap .depth2 a:hover,
.office .headerWrap .depth2 a:focus {color:#3d7cda;text-decoration:underline}
.office .bg_gnb_over{display:none;position:absolute;top:100px;width:100%;height:244px;background:#fff url(/publish/img/office/00/main/bg_gnb_over.jpg) no-repeat 55% 0;border-top:1px solid #ddd;box-shadow:1px 5px 10px 0 rgba(0,0,0,.2);z-index:10}
/*검색창*/
.office .sch_area{position:absolute;right:0;bottom:30px}
.office .sch_area > a,.sch_area form .btn_srch{display:block;width:17px;height:17px;background:url(/publish/img/office/00/main/btn_search.png) no-repeat}
.office .sch_area > a.on{background-position:0 -70px}
.office .sch_area form{display:none;position:absolute;right:30px;top:-5px}
.office .sch_area form input{width:196px;height:20px;border:1px solid #3d7cda;border-radius:30px;text-indent:10px;font-weight:bold;color:#888}
.office .sch_area form .btn_srch{position:absolute;right:15px;top:7px;background-position:0 -33px}

.office #container {position:relative; width:980px; margin:0 auto; background-color:#fff; border-radius:9px 9px 0px 0px;}
.office #container:after {content:'.'; display:block; height:0px; clear:both; visibility:hidden; zoom:1;}

.office #contents {padding:0 90px;}
.office .fullSZ {width:980px; margin-left:-90px; margin-bottom:53px;}
.office .fullSZ .inner {margin:35px 90px 37px;}
.office footer {width:980px; margin:0 auto; padding-bottom:40px; background-color:#fff; border-radius:0px 0px 9px 9px;}
.office footer address {display:block; text-align:center; color:#676767;}
.office footer address > span {padding-right:10px;}

.office #breadCrumbs {padding-top:18px; position:absolute; right:91px; top:41px; width:100%;}
.office #breadCrumbs.br {top:85px;}
.office .breadCrumbs_snsShare {float:right; min-height:33px;}
.office .breadCrumbs_snsShare .lst a, .breadCrumbs_snsShare .lst span {display:inline-block; vertical-align:middle;}
.office .breadCrumbs_snsShare .lst .ico > em, .breadCrumbs_snsShare .lst .ico > span {display:block; position:relative; z-index:-1; height:100%; white-space:nowrap; opacity:0;-ms-filter:"alpha (opacity=0)"; filter:alpha(opacity = 0);}
.office .lst.bread_crumbs {margin-top:5px;}
.office .lst.bread_crumbs .ico {background:url(/publish/img/layout/ico_pageUtil.png) -223px 7px no-repeat; padding-left:8px; margin-left:8px; color:#555;}
.office .lst.bread_crumbs .ico.home {background-position:-185px 5px; width:9px; padding:0; margin:0;}
.office .lst.bread_crumbs .ico.here {color:#000;}
.office .lst.snsShare li {margin-left:5px;}
.office .lst.snsShare li:first-child {margin-left:15px;}
.office .lst.snsShare .ico {background:url(/publish/img/layout/ico_pageUtil.png) no-repeat; width:33px; height:33px;}
.office .lst.snsShare .ico.facebook {background-position:0px 0px;}
.office .lst.snsShare .ico.twittter {background-position:-38px 0px;}
.office .lst.snsShare .ico.mail {background-position:-76px 0px;}
.office .lst.snsShare .ico.print {background-position:-114px 0px;}

/* OFFICE LNB STYLE */
/*.office #leftWrap.tabWrap {margin-bottom:0;}
.office #leftWrap.tabWrap .tab_menu li a {border-radius:0; border-top-width:0.001em}
.office #leftWrap.tabWrap .tab_menu li:first-child a {border-top-left-radius:9px; border-left:0 none;}
.office #leftWrap.tabWrap .tab_menu li:last-child a {border-top-right-radius:9px; border-right:0 none;}
.office #leftWrap.tabWrap .tab_menu li.on a {background-color:#444; color:#fff; font-weight:normal; border-bottom:1px solid #444;}*/
/*.office .pagination {padding-bottom:10px;}*/

.office #leftWrap {margin-bottom:89px;}
.office #leftWrap .snb01dep:after {content:'.'; display:block; height:0px; clear:both; visibility:hidden; zoom:1;}
.office .snb01dep li {float:left;}
.office .snb01dep.col2 li {width:50%;}
.office .snb01dep.col3 li {width:33.3%;}
.office .snb01dep.col3 li:first-child {width:33.4%;}
.office .snb01dep.col4 li {width:25%;}
.office .snb01dep.col5 li {width:20%;}
.office .snb01dep.col6 li {width:16.7%;}
.office .snb01dep.col6 li:first-child {width:16.5%;}
.office .snb01dep.col7 li {width:14.3%;}
.office .snb01dep.col7 li:first-child {width:14.2%;}
.office .snb01dep.col8 li {width:12.5%;}
.office .snb01dep.col8.br li {width:25%;}
.office .snb01dep li:last-child {float:right}

.office .snb01dep li a {border-radius:0; display:block; text-align:center; padding:10px 0 12px; font-size:14px; border:1px solid #bababa; border-top:0; border-left:0; color:#222; background:#f5f5f5;}
.office .snb01dep li:first-child a {border-top-left-radius:9px; border-left:0 none;}
.office .snb01dep li:last-child a,
.office .snb01dep.col8.br li:nth-child(4) a {border-top-right-radius:9px; border-right-width:0;}
.office .snb01dep.col8.br li:last-child a {border-radius:0;}
.office .snb01dep li.on a {background-color:#444; color:#fff; font-weight:normal; border-bottom:1px solid #444;}

.office .imgWrap.visual {margin-bottom:53px;}
.office .imgWrap.visual.line {margin-bottom:30px; border-bottom:2px solid #000;}
.office .dep02Sec {margin-bottom:53px;}


/* TITLE DEPTH */
.office .tit.dep01 {margin-bottom:20px; color:#000;}
.office .tit.dep02 {margin-bottom:12px;}
.office .tit.dep02 span {font-weight:normal}
.office .tit.dep03 {}
.office .tit.dep04 {}
.office .tit.dep05 {}
.office .txt_desc {line-height:20px;}

.office .tit.dep02 + .boxWrap, .office .tit.dep02 + .imgWrap, .office .tit.dep02 + .tblWrap  {margin-top:18px;}

/* LIST DEPTH */
.office .lst.dep03 > li{background:url(/publish/img/ico/ico_sp_circle.png) no-repeat 0 -492px; padding-left:10px; margin-bottom:5px; font-size:13px; color:#000;}
.office .lst.dep03 > li.full {padding-left:0; background:none;}
/* .office .lst.dep03.split:after {display:block; content:''; clear:both;}
.office .lst.dep03.split > li{float:left; width:50%;} */
.office .lst.dep03.target > li> a> span {display:inline-block; margin-left:5px;  width:11px; height:11px; text-indent:100%; white-space:nowrap; overflow:hidden; background:url(/publish/img/ico/ico_target.png) no-repeat 0 0; vertical-align:middle;}
.office .lst.dep04 > li > .lst.dep05 {margin:0px 0 5px;}
/* 상단 메뉴 이동 */
.visualWrap {min-height:163px; position:relative; width:980px; margin:auto;}
.visualWrap .menu {display:inline-block; position:absolute; top:55%; background:url(/publish/img/layout/ico_menu_paging.png) no-repeat; padding:0px 22px; min-height:32px; margin:-16px 20px; font-size:15px; color:#fff;}
.visualWrap .menu:hover, .visualWrap .menu:focus {text-decoration:underline;}
.visualWrap .menu.prevMu {background-position:0 -400px; left:0;}
.visualWrap .menu.nextMu {background-position:100% -600px; right:0;}
.visualWrap .titWrap {text-align:center; padding-top:50px; width:980px;}
.visualWrap .titWrap .tit.dep01 {font-family:khnpheadlineregular, '맑은고딕', 'malgun Gothic', '돋움', 'dotum'; font-size:45px; margin-bottom:0; color:#fff;}
.visualWrap .titWrap .copy {color:#202d3f; font-size:18px;}

/* inner TAB - 변경 예정(컨펌 전) */
.office .tabWrap.inner {margin:0 90px 33px;}
.office .tabWrap .tab_menu li a {border-radius:3px; border:0; margin-left:10px; padding:10px 0 12px 20px; text-align:left; text-align:center;}
.office .tabWrap .tab_menu li:first-child a {margin-left:0;}
.office .tabWrap .tab_menu li.on a{background-color:#0061c2; color:#fff;}

/* 알림 박스 */
.office .msgWrap {border-bottom:1px #ddd solid;}
.office .msgWrap, .msgWrap .inner {font-size:22px; text-align:center;}
.office #contents .msgWrap.fullSZ .inner {margin:35px 90px 37px;}

.office .boxWrap.txt_desc {margin-bottom:30px;}
.office .boxWrap.txt_desc.warn {background:#f0f7fe; font-size:14px;}

.office .boxWrap.listInfo .sub_dsc {padding:27px 30px 30px;}
.office .boxWrap.listInfo .sub_dsc p {font-size:13px; color:#666; line-height:20px; margin-bottom:20px;}
.office .boxWrap.listInfo .sub_dsc p span { font-size:11px; line-height:18px;}
.office .boxWrap.listInfo .sub_dsc p strong {display:block; margin-bottom:10px; color:#000;}
.office .boxWrap.listInfo .sub_dsc .btnWrap {margin:0;}
.office .boxWrap.listInfo .sub_dsc .lst.dep04 {margin:0;}
.office .boxWrap.listInfo .sub_dsc .lst.dep04 + .btnWrap {margin-top:15px;}
.office .boxWrap.listInfo .sub_dsc .lst.dep04 >li {margin-bottom:5px; font-size:13px; background:url(/publish/img/ico/ico_sp_circle.png) no-repeat 0 -991px; padding-left:7px; color:#666;}
.office .boxWrap.listInfo .sub_dsc .btnWrap.small {}
.office .boxWrap.listInfo .sub_dsc .btnWrap.small .btn {padding:7px 30px 10px; font-size:12px; line-height:16px; color:#000; font-weight:normal;}
.office .boxWrap.listInfo .sub_dsc .btnWrap.small .btn:first-child {margin-left:0;}

.office .boxWrap.txtBtn {background:#f6f6f6;}
.office .boxWrap.share {background:#f0f7fe;}
.office .boxWrap.txtBtn .sub_dsc {padding:30px 40px; border-width:0;}
.office .boxWrap.txtBtn .txt_desc  {font-size:14px;}

.office .boxWrap.txtBtn.inquiry .sub_dsc {padding:40px 30px 30px;}
.office .boxWrap.txtBtn.inquiry .txt_desc {background-position:0 -400px; padding:20px 0 20px 110px;}
.office .boxWrap.txtBtn .txt_desc+.btnWrap .btn.small.action {background:#0060c2; padding:11px 30px 13px; margin:0 5px; min-width:60px; font-size:16px; line-height:1.2; font-weight:bold; color:#fff; text-align:center; border-radius:3px; border-width:0;}
.office .boxWrap.txtBtn.inquiry .txt_desc+.btnWrap .btn.small.action {min-width:120px;}

.office .tourinfo .txt_desc.info, .office .eduReg .txt_desc.info {position:relative; margin:-5px 0 0;}
.office .tourinfo .txt_desc.info img, .office .eduReg .txt_desc.info img {position:absolute; top:5px; left:0;}
.office .tourinfo .txt_desc.info {padding-left:70px; font-size:22px;}
.office .tourinfo .txt_desc.info em {display:block; margin-bottom:5px; font-size:16px; font-weight:bold;}
.office .tourinfo .txt_desc.info .btn,
.office .eduReg .txt_desc.info .btn.small.action {position:absolute; top:3px; right:0;}
.office .tourinfo .txt_desc.info .btn.small.action,
.office .eduReg .txt_desc.info .btn.small.action
 {background:#0060c2; padding:11px 30px 13px; margin:0 5px; min-width:60px; font-size:16px; line-height:1.2; font-weight:bold; color:#fff; text-align:center; border-radius:3px; border-width:0;}
.office .eduReg .txt_desc.info {height:40px; padding-left:90px; vertical-align:bottom;}
.office .eduReg .txt_desc.info {font-size:18px;}
.office .eduReg .txt_desc.info p > strong {font-size:22px;}
.office .eduReg .txt_desc.info p {display:inline-block; margin-top:10px;}
.office .eduReg .txt_desc.info img {top:-5px;}

/* .office .boxWrap.txtBtn .sub_dsc {padding:40px 0 30px; border-width:0;} */

/* 검색 조건 */
.office .cm_box {padding-right:0; padding-left:0; background:transparent;}

/* 게시판 상세 */
.office .addFile {background:#f9fcff;}
.office .addFile > ul.file a.ico.file {background:url(/publish/img/ico/ico_file2.png) 0 3px no-repeat}

/* 게시판 동영상 */
.office .video .video_txt {width:260px;}
.office .video_list.split .colSec {margin-right:40px;}

/* 썸네일 또는 슬라이드 의 캡션 배경 */
.office .caption {display:block; position:absolute; bottom:0; left:0; z-index:10; width:100%;}
.office .caption .dimm {background:#000; display:block; opacity:0.7; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; /* IE 8 */
       filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70); /* IE 7 and olders */ width:100%; height:100%; position:absolute; bottom:0; left:0; z-index:10;}
.office .caption .tit {color:#fff; z-index:20; display:block; text-align:left; position:relative; z-index:20;}

.office .imgWrap.split li {position:relative;}
.office .imgWrap.split li .caption > .tit {padding:7px 10px 11px;}
#wrap.office.subLayout02 .imgWrap.split.col2 .colSec { max-width:inherit;}
.office .imgWrap.split li .caption > .dimm {height: 40px;}

/* 인사말 외 본부소개 메뉴 작성 조희욱 */
.office .msg_ceo .signWrap {background:none; margin-top:90px; padding-right:0; height:auto; font-size:18px; text-align:center; line-height:auto; letter-spacing:0;}
.office .msg_ceo .tit.dep02 {margin-bottom:28px; padding-left:0; background:0; font-size:18px; color:#000; font-weight:normal;}
.office .msg_ceo .tit.dep02 > strong {color:#0060c2;}
.office .msg_ceo .txt_desc, .office .msg_ceo .boxWrap.txt_desc {padding:0; border:none;}
.office .msg_ceo .msgWrap + .txt_desc {margin-bottom:53px;}
.office .msg_ceo .tit {background:none; height:auto;}
.office .msg_ceo .txt_desc > p {padding:0;}

.office .headoffice_intro li:first-child {border-top:1px solid #d4d4d4;}
.office .headoffice_intro li {padding:30px 90px 35px 90px; border-bottom:1px solid #d4d4d4;}
.office .headoffice_intro li >div strong {display:block; min-height:40px; margin-bottom:14px; background:url(/publish/img/com/bg_round_num.gif) no-repeat 0 0; font-size:18px;}
.office .headoffice_intro li >div strong span {display:block; padding-top:5px;}
.office .headoffice_intro li >div strong span, 
.office .headoffice_intro li .txt_desc {padding-left:60px; margin-bottom:0;}
.office .headoffice_intro li.n02 >div strong {background-position:0 -120px;}
.office .headoffice_intro li.n03 >div strong {background-position:0 -240px;}
.office .headoffice_intro li >div strong em {color:#0061c2;}

/* .office .headoffice_cont_bottom {padding:38px 0 0 0;}
.office .cls_name {margin-top:68px; font-size:20px; color:#000;} 10.20 */
.office .staffNccl {width:980px; margin:100px 0 77px -90px;}
.office .staffNccl .cm_box {background:#eee;}
.office .ccl_box {margin-bottom:0; padding-left:130px; padding-right:90px; border-top:1px solid #d7d7d7;}
.office .ccl_box .txt {width:560px;}
.office .tblWrap.staff_info {border-top:1px solid #ababab;}
.office .tblWrap.staff_info .lft {padding-left:11%;}
.office .tblWrap.staff_info .rht {padding-right:12%;}
.office .tblWrap.staff_info th > span {margin-top:11px; margin-bottom:11px;}
.office .tblWrap.staff_info td .tdCont {margin-top:12px; margin-bottom:12px; font-size:14px;}
.office .tblWrap.staff_info th > span,
.office .tblWrap.staff_info td .tdCont {letter-spacing:-1px;}

/* 조직 및 안내 */
.office .tit+.msg.txt.alR {font-size:12px; color:#000; letter-spacing:0;}
/* .office .tbl thead tr th > span {margin-top:22px; margin-bottom:20px;}
.office .tbl tbody tr th > span,
.office .tbl tr td .tdCont {font-size:13px; margin-top:22px; margin-bottom:20px;}
 *//*.office .tbl.row.col tbody tr th {background-color:#fff; font-weight:normal;} */

/* 역대 본부장 */
.office .chief_history {width:980px; margin-left:-90px;}
.office .chief_history .colSec {width:50%; margin:40px 0 0;}
#wrap.subLayout02.office .chief_history .split.col2 .colSec {max-width: inherit;}
.office .chief_history .lst > li {border-bottom:1px solid #d4d4d4;}
.office .chief_history li .item {margin:0px 0 40px 80px;}
.office .chief_history li .item:after {content:'.'; display:block; height:0px; clear:both; visibility:hidden; zoom:1;}
.office .chief_history li .item img {width:148px; height:148px; margin-right:20px; border:1px solid #e1e1e1;}
.office .chief_history li .item img,
.office .chief_history li .item .profile {float:left; color:#0e0e0e; font-size:14px;}
.office .chief_history li .item .profile {}
.office .chief_history li .item .profile >strong,
.office .chief_history li .item .profile > span{display:block;}
.office .chief_history li .item .profile .state {display:inline-block; width:auto; padding:1px 10px 4px 10px; margin-bottom:10px; font-size:16px; letter-spacing:-1px;}
.office .chief_history li .item .profile >strong {font-size:26px; margin-bottom:22px;}
.office .chief_history li .item .profile >strong span {font-weight:normal; font-size:22px;}
.office .chief_history li .item .profile > span.term {letter-spacing:0px; line-height:14px;}
.office .chief_history li .item .profile > span.from_to {text-align:center;}

/* 오시는 길 */
.office .mapWrap {margin-bottom:53px; position:relative;}
.office .boxWrap.txt_desc.navi strong {font-size:24px; color:#000; font-weight:bold; line-height:1.6;}
.office .boxWrap.txt_desc.tel .lst.dep03 li {margin-bottom:0; background-position:0 -489px; text-align:left; font-size:18px; letter-spacing:0;}
.office .boxWrap.txt_desc.tel .lst.dep03.col2 li.colSec {width:40%; margin-left:56px;}
.office .mapWrap .mapBox {background:none; width:980px; height:419px; /*border:1px #ddd solid;*/ border:0;}
.office .mapWrap .mapMaker {position:absolute;}

.mapWrap .map_info_tip {min-width:290px; height:144px; position:absolute; padding-bottom:32px;}
.mapWrap .map_info_tip .info {border:1px solid #0060c2; background:#fff;}
.mapWrap .map_info_tip .info .head {display:block; font-size:18px; font-weight:bold; padding:10px 55px 15px 22px; border-bottom:1px solid #d6d6d6;}
.mapWrap .map_info_tip .info p {font-size:13px; color:#000; padding:35px 25px;}
.mapWrap .map_info_tip .info .arrow {display:block; width:15px; margin:0 20px -32px auto;}
.mapWrap .map_info_tip .close {position:absolute; top:10px; right:10px;}

/* 사업소별 지도마커 */
.office1 .mapWrap.ykAqua .mapMaker {top:214px; left:372px;} /* 한빛원자력발전 아쿠아리움 */
.office2 .mapWrap.uj .mapMaker {top:231px; left:451px;} /* 한울원자력발전 */
.office3 .mapWrap.kori .mapMaker {top:193px; left:453px;} /* 고리원자력발전 */
.office4 .mapWrap.wolsong .mapMaker {top:189px; left:452px;} /* 월성원자력발전1 */
.office4 .mapWrap.wolsong2 .mapMaker {top:192px; left:452px;} /* 월성원자력발전2 */
.office5 .mapWrap.hangang .mapMaker {top:214px; left:462px;} /* 월성원자력발전 */
.office6 .mapWrap.tech .mapMaker {top:192px; left:450px;} /* 중앙연구원 */
.office7 .mapWrap.ekhnp01 .mapMaker {top:192px; left:450px;} /* 인재개발원 */
.office7 .mapWrap.ekhnp02 .mapMaker {top:210px; left:450px;} /* 인재개발원 온누리관 */
.office8 .mapWrap.rhri .mapMaker {top:215px; left:365px;} /* 방사선보건원 */


/* 연혁 */
.of_history {}
.of_history > ul {}
.of_history > ul > li:first-child {border-top:1px solid #d4d4d4;}
.of_history > ul > li {height:332px; position:relative; border-bottom:1px solid #d4d4d4; overflow:hidden;}

.of_history > ul > li .imgWrap {position:absolute; top:0; left:0; margin-bottom:0; background:#000;}
.of_history > ul > li .cont {position:relative;}
.of_history > ul > li .imgWrap + .cont  {display:none;}
.of_history > ul > li dt,
.of_history > ul > li dd ul li {color:#000;}

.of_history > ul > li dt {width:352px; position:absolute; top:70px; left:90px; font-size:52px; font-weight:bold; line-height:1;}
.of_history > ul > li dd {width:448px; height:267px; margin-left:442px; padding:65px 90px 0 0; overflow:auto;}
.of_history > ul > li dd > ul {padding-bottom: 110px;}
.of_history > ul > li dd > ul > li {margin-top:24px; padding-left:28px; font-size:24px; background:url(/publish/img/ico/bul_ciricle_big.png) 0 13px no-repeat;}
.of_history > ul > li dd > ul > li:first-child {margin-top:0;}
.of_history > ul > li dd > ul > li >ul > li {margin-top:15px; padding-left:15px; font-size:18px; background:url(/publish/img/ico/bul_circle.png) no-repeat 0 10px;  no-repeat;}


.of_history > ul > li:hover .imgWrap img {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=40); opacity:.4;}
.of_history > ul > li:hover .imgWrap + .cont {display:block;}
.of_history > ul > li:hover .imgWrap + .cont dt,
.of_history > ul > li:hover .imgWrap + .cont  dd ul li {color:#fff;}


/* 연혁 - 배경 있을 때
.of_history > ul > .hasImg {border:0;}

.of_history > ul > .hasImg:hover .cont {display:block;}
.of_history > ul > .hasImg:hover .dimmed {display:block;}
.of_history > ul > .hasImg .cont {display:none; width:100%; height:100%; z-index:20;}

.of_history .hasImg dt, .of_history .hasImg dd ul li {color:#fff;}
.of_history .dimmed {display:none; width:100%; height:100%; background:#000; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; 
       filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=60); opacity:.6; z-index:10; }
연혁 - 배경 없을 때
.of_history > ul > li dt,
.of_history > ul > li dd ul li {color:#000;} */

.flow_box {border:1px solid #0060c2; padding:25px 0;}
.flow_box ul {}
.flow_box ul:after {content:''; display:block; clear:both; zoom:1;}
.flow_box ul li {width:186px; float:left; padding-left:18px; background:url(/publish/img/ico/ico_arrow.png) 0 54px no-repeat;}
.flow_box ul li:first-child {padding-left:0; background:none;}
.flow_box ul li dl {padding-top:80px;}
.flow_box ul li dl.ico_cal {background:url(/publish/img/ico/ico_cal_clock.png) center top no-repeat;}
.flow_box ul li dl.ico_clipboard {background:url(/publish/img/ico/ico_clipboard.png) center top no-repeat;}
.flow_box ul li dl.ico_clipboard2 {background:url(/publish/img/ico/ico_clipboard_check.png) center top no-repeat;}
.flow_box ul li dl.ico_post {background:url(/publish/img/ico/ico_post_check.png) center top no-repeat;}
.flow_box ul li dt {font-size:17px; font-weight:bold; color:#000; text-align:center; margin-bottom:10px;}
.flow_box ul li dd {font-size:13px; color:#000; text-align:center;}
.of_history > ul > li dd ul li {color:#000;}
.of_history > ul > li dd ul li {color:#000;}

/* 원자력 - 실시간 */
.office .boxWrap.realTime {background:#f0f7fe;}
.office .boxWrap.realTime + .dep03Sec {margin-top:-30px;}

/* 견학안내 */
.boxWrap.course_flow {padding:30px; background:#deefff;}

/* 견학후기 - 리스트 */
/* .office .photoWwrap.pam_list {padding-top:0; border:0;} */
.office .pamphlet .pam_list .col3 li.colSec {width:251px; margin-right:20px;}
.office .pamphlet .pam_list .col4 li.colSec {margin-right:56px;}
.office .photoWwrap.pam_list .imgWrap {width:100%;}
/* .office .photoWwrap.pam_list .imgWrap {width:100%;height:139px;}
.office .photoWwrap.pam_list .imgWrap img {height:139px;} */
.office .photoWwrap.pam_list .tit {text-align:left; padding:12px 20px;}

/* .office .photoWwrap.pam_list .tit strong {width:209px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; word-wrap:normal; } */
.office .photoWwrap.pam_list .tit .name {display:block; margin:10px 0 5px 0; padding-top:10px; background:url(/publish/img/com/list_title_bar.gif) 0 top no-repeat;}
.office .photoWwrap.photo > ul.col3 > li.colSec {margin-right:43px;}

/* 층별안내 */
.floor_map {position:relative;}
.floor_map {}
.floor_map .cont_list li a {position:absolute;}
.floor_map .cont_list li a {display:block; width:25px; height:25px; background:url(/publish/img/com/sp_number_circle.png) -25px 0 no-repeat; text-align:center; font-size:15px; font-weight:bold; color:#fff; line-height:25px;}
.floor_map .cont_list li a:focus,
.floor_map .cont_list li a:hover,
 .floor_map .cont_list li a.on {background-position:0 0;}
.floor_map .cont_list li .cont {min-height:455px; display:none; margin-top:20px; position:relative;}
.floor_map .cont_list li .cont.on {display:block;}
.floor_map .cont_list li .cont .num {display:inline-block; zoom:1; width:30px; height:30px; background:url(/publish/img/com/sp_number_circle_big.png) no-repeat; color:#fff; font-weight:bold; font-size:18px; line-height:30px; text-align:center; margin-right:10px;}
.floor_map .cont_list li .cont dl {width:800px; position:absolute; top:275px; left:90px;}
.floor_map .cont_list li .cont dt {font-size:25px; color:#fff; font-weight:bold; margin-bottom:17px;}
.floor_map .cont_list li .cont dd {font-size:18px; color:#fff;}

/* 한빛 - 1층 */
.office1 .floor01 .cont_list li.cont01 > a {top:195px; left:365px;}
.office1 .floor01 .cont_list li.cont02 > a {top:192px; left:520px;}
/* .office1 .floor01 .cont_list li.cont03 > a {top:195px; left:365px;} */

.office1 .floor01 .cont_list li.cont01 > .cont {background:url(/publish/img/office/01/img0501020100_04.png) no-repeat;}
.office1 .floor01 .cont_list li.cont02 > .cont {background:url(/publish/img/office/01/img0501020100_03.png) no-repeat;}
/* .office1 .floor01 .cont_list li.cont03 > .cont {background:url(/publish/img/office/01/img0501020100_04.png) no-repeat;} */
/* 한빛 - 2층 */
.office1 .floor02 .cont_list li.cont01 > a {top:200px; left:530px;}
.office1 .floor02 .cont_list li.cont02 > a {top:198px; left:165px;}
.office1 .floor02 .cont_list li.cont03 > a {top:115px; left:389px;}

.office1 .floor02 .cont_list li.cont01 > .cont {background:url(/publish/img/office/01/img0501020200_02.png) no-repeat;}
.office1 .floor02 .cont_list li.cont02 > .cont {background:url(/publish/img/office/01/img0501020200_03.png) no-repeat;}
.office1 .floor02 .cont_list li.cont03 > .cont {background:url(/publish/img/office/01/img0501020200_04.png) no-repeat;}
.office1 .floor02 .cont_list li.cont04 > .cont {background:url(/publish/img/office/01/img0501020200_05.png) no-repeat;}

/* 한울 - 변경 예정(변경 후 주석 삭제 바람) */
.office2 .floor01 .cont_list li.cont01 > a {top:176px; left:387px;}
.office2 .floor01 .cont_list li.cont02 > a {top:164px; left:323px;}
.office2 .floor01 .cont_list li.cont03 > a {top:155px; left:229px;}
.office2 .floor01 .cont_list li.cont04 > a {top:279px; left:296px;}
.office2 .floor01 .cont_list li.cont05 > a {top:265px; left:200px;}
.office2 .floor01 .cont_list li.cont06 > a {top:93px; left:258px;}
.office2 .floor01 .cont_list li.cont07 > a {top:108px; left:306px;}
.office2 .floor01 .cont_list li.cont01 > .cont {background:url(/publish/img/office/02/img0601020100_03.png) no-repeat;}
.office2 .floor01 .cont_list li.cont02 > .cont {background:url(/publish/img/office/02/img0601020100_04.png) no-repeat;}
.office2 .floor01 .cont_list li.cont03 > .cont {background:url(/publish/img/office/02/img0601020100_05.png) no-repeat;}
.office2 .floor01 .cont_list li.cont04 > .cont {background:url(/publish/img/office/02/img0601020100_06.png) no-repeat;}
.office2 .floor01 .cont_list li.cont05 > .cont {background:url(/publish/img/office/02/img0601020100_07.png) no-repeat;}
.office2 .floor01 .cont_list li.cont06 > .cont {background:url(/publish/img/office/02/img0601020100_08.png) no-repeat;}
.office2 .floor01 .cont_list li.cont07 > .cont {background:url(/publish/img/office/02/img0601020100_09.png) no-repeat;}

/* 고리 - 1층 */
.office3 .floor01 .cont_list li.cont01 > a {top:265px; left:420px;}
.office3 .floor01 .cont_list li.cont02 > a {top:271px; left:341px;}
.office3 .floor01 .cont_list li.cont03 > a {top:260px; left:242px;}
.office3 .floor01 .cont_list li.cont04 > a {top:212px; left:297px;}
.office3 .floor01 .cont_list li.cont05 > a {top:148px; left:230px;}
.office3 .floor01 .cont_list li.cont06 > a {top:180px; left:274px;}
.office3 .floor01 .cont_list li.cont07 > a {top:147px; left:308px;}
.office3 .floor01 .cont_list li.cont08 > a {top:96px; left:355px;}

.office3 .floor01 .cont_list li.cont09 > a {top:153px; left:363px;}
.office3 .floor01 .cont_list li.cont10 > a {top:209px; left:338px;}
.office3 .floor01 .cont_list li.cont11 > a {top:94px; left:419px;}
.office3 .floor01 .cont_list li.cont12 > a {top:153px; left:416px;}
.office3 .floor01 .cont_list li.cont13 > a {top:215px; left:455px;}
.office3 .floor01 .cont_list li.cont14 > a {top:187px; left:530px;}
.office3 .floor01 .cont_list li.cont15 > a {top:265px; left:510px;}

.office3 .floor01 .cont_list li.cont01 > .cont {background:url(/publish/img/office/03/img0501020100_02.png) no-repeat;}
.office3 .floor01 .cont_list li.cont02 > .cont {background:url(/publish/img/office/03/img0501020100_03.png) no-repeat;}
.office3 .floor01 .cont_list li.cont03 > .cont {background:url(/publish/img/office/03/img0501020100_04.png) no-repeat;}
.office3 .floor01 .cont_list li.cont04 > .cont {background:url(/publish/img/office/03/img0501020100_05.png) no-repeat;}
.office3 .floor01 .cont_list li.cont05 > .cont {background:url(/publish/img/office/03/img0501020100_06.png) no-repeat;}
.office3 .floor01 .cont_list li.cont06 > .cont {background:url(/publish/img/office/03/img0501020100_07.png) no-repeat;}
.office3 .floor01 .cont_list li.cont07 > .cont {background:url(/publish/img/office/03/img0501020100_08.png) no-repeat;}
.office3 .floor01 .cont_list li.cont08 > .cont {background:url(/publish/img/office/03/img0501020100_09.png) no-repeat;}
.office3 .floor01 .cont_list li.cont09 > .cont {background:url(/publish/img/office/03/img0501020100_10.png) no-repeat;}
.office3 .floor01 .cont_list li.cont10 > .cont {background:url(/publish/img/office/03/img0501020100_11.png) no-repeat;}
.office3 .floor01 .cont_list li.cont11 > .cont {background:url(/publish/img/office/03/img0501020100_12.png) no-repeat;}
.office3 .floor01 .cont_list li.cont12 > .cont {background:url(/publish/img/office/03/img0501020100_13.png) no-repeat;}
.office3 .floor01 .cont_list li.cont13 > .cont {background:url(/publish/img/office/03/img0501020100_14.png) no-repeat;}
.office3 .floor01 .cont_list li.cont14 > .cont {background:url(/publish/img/office/03/img0501020100_15.png) no-repeat;}
.office3 .floor01 .cont_list li.cont15 > .cont {background:url(/publish/img/office/03/img0501020100_16.png) no-repeat;}
/* 고리 - 2층 */
.office3 .floor02 .cont_list li.cont01 > a {top:144px; left:220px;}
.office3 .floor02 .cont_list li.cont02 > a {top:267px; left:353px;}
.office3 .floor02 .cont_list li.cont03 > a {top:197px; left:515px;}
.office3 .floor02 .cont_list li.cont04 > a {top:100px; left:352px;}
.office3 .floor02 .cont_list li.cont05 > a {top:189px; left:287px;}
.office3 .floor02 .cont_list li.cont06 > a {top:180px; left:464px;}

.office3 .floor02 .cont_list li.cont01 > .cont {background:url(/publish/img/office/03/img0501020100_02.png) no-repeat;}
.office3 .floor02 .cont_list li.cont02 > .cont {background:url(/publish/img/office/03/img0501020100_03.png) no-repeat;}
.office3 .floor02 .cont_list li.cont03 > .cont {background:url(/publish/img/office/03/img0501020100_04.png) no-repeat;}
.office3 .floor02 .cont_list li.cont04 > .cont {background:url(/publish/img/office/03/img0501020100_05.png) no-repeat;}
.office3 .floor02 .cont_list li.cont05 > .cont {background:url(/publish/img/office/03/img0501020100_06.png) no-repeat;}
.office3 .floor02 .cont_list li.cont06 > .cont {background:url(/publish/img/office/03/img0501020100_07.png) no-repeat;}

/* 월성 - 1층 */
.office4 .floor01 .cont_list li.cont01 > a {top:271px; left:116px;}
.office4 .floor01 .cont_list li.cont02 > a {top:320px; left:102px;}
.office4 .floor01 .cont_list li.cont03 > a {top:345px; left:200px;}
.office4 .floor01 .cont_list li.cont04 > a {top:359px; left:279px;}
.office4 .floor01 .cont_list li.cont05 > a {top:293px; left:384px;}
.office4 .floor01 .cont_list li.cont06 > a {top:267px; left:523px;}
.office4 .floor01 .cont_list li.cont07 > a {top:336px; left:484px;}
.office4 .floor01 .cont_list li.cont08 > a {top:336px; left:569px;}
.office4 .floor01 .cont_list li.cont01 > .cont {background:url(/publish/img/office/04/img0601020100_03.png) no-repeat;}
.office4 .floor01 .cont_list li.cont02 > .cont {background:url(/publish/img/office/04/img0601020100_04.png) no-repeat;}
.office4 .floor01 .cont_list li.cont03 > .cont {background:url(/publish/img/office/04/img0601020100_05.png) no-repeat;}
.office4 .floor01 .cont_list li.cont04 > .cont {background:url(/publish/img/office/04/img0601020100_06.png) no-repeat;}
.office4 .floor01 .cont_list li.cont05 > .cont {background:url(/publish/img/office/04/img0601020100_07.png) no-repeat;}
.office4 .floor01 .cont_list li.cont06 > .cont {background:url(/publish/img/office/04/img0601020100_08.png) no-repeat;}
.office4 .floor01 .cont_list li.cont07 > .cont {background:url(/publish/img/office/04/img0601020100_09.png) no-repeat;}
.office4 .floor01 .cont_list li.cont08 > .cont {background:url(/publish/img/office/04/img0601020100_10.png) no-repeat;}
/* 월성 - 2층 */
.office4 .floor02 .cont_list li.cont01 > a {top:177px; left:141px;}
.office4 .floor02 .cont_list li.cont02 > a {top:205px; left:183px;}
.office4 .floor02 .cont_list li.cont03 > a {top:143px; left:269px;}
.office4 .floor02 .cont_list li.cont04 > a {top:205px; left:345px;}
.office4 .floor02 .cont_list li.cont05 > a {top:121px; left:490px;}
.office4 .floor02 .cont_list li.cont06 > a {top:111px; left:592px;}
.office4 .floor02 .cont_list li.cont07 > a {top:220px; left:588px;}
.office4 .floor02 .cont_list li.cont08 > a {top:222px; left:495px;}
.office4 .floor02 .cont_list li.cont09 > a {top:332px; left:562px;}
.office4 .floor02 .cont_list li.cont01 > .cont {background:url(/publish/img/office/04/img0601020100_11.png) no-repeat;}
.office4 .floor02 .cont_list li.cont02 > .cont {background:url(/publish/img/office/04/img0601020100_12.png) no-repeat;}
.office4 .floor02 .cont_list li.cont03 > .cont {background:url(/publish/img/office/04/img0601020100_13.png) no-repeat;}
.office4 .floor02 .cont_list li.cont04 > .cont {background:url(/publish/img/office/04/img0601020100_14.png) no-repeat;}
.office4 .floor02 .cont_list li.cont05 > .cont {background:url(/publish/img/office/04/img0601020100_15.png) no-repeat;}
.office4 .floor02 .cont_list li.cont06 > .cont {background:url(/publish/img/office/04/img0601020100_16.png) no-repeat;}
.office4 .floor02 .cont_list li.cont07 > .cont {background:url(/publish/img/office/04/img0601020100_17.png) no-repeat;}
.office4 .floor02 .cont_list li.cont08 > .cont {background:url(/publish/img/office/04/img0601020100_18.png) no-repeat;}
.office4 .floor02 .cont_list li.cont09 > .cont {background:url(/publish/img/office/04/img0601020100_19.png) no-repeat;}



/* 슬라이드 - 일반현황 */
.slide {width:980px; height:509px; text-align:center; position:relative;}
.slide .slideshow {overflow:hidden; position:relative; width:100%; height:100%;}
.slide .slideshow dd {display:block; position:absolute; top:0; width:100%;}
.slide .btn {position:absolute; display:block; bottom:19px; margin-top:-20px; padding:0; width:12px; height:18px; text-align:center; background:url(/publish/img/com/slide_controls.png) no-repeat; border:none; z-index:10;}
.slide .btn.prev {right:20px; background-position: 0 0;}
.slide .btn.next {right:0; background-position: -12px 0;}
.slide .btn.state {width:8px; min-width:8px; height:10px; right:425px; margin-left:-20px; background-position:-11px 0; border-radius:0;}
.slide .state em {display:none;}
.slide .state.play {width:8px; height:10px; background-position:0 0;}
.slide .state.play span {display:block;}
.slide .state.stop em {display:none;}
.slide .indic {position:absolute; bottom:20px; z-index:10;}
.slide .indic a {display:block; width:8px; height:8px; background: #000; background:url(/publish/img/com/slide_pager.png) no-repeat;}
.slide .indic a:hover,
.slide .indic.active a {background-position:-15px 0;}

/* 슬라이드 - 주요공정 */
.slide.type02 {width:800px; height:333px; text-align:center; position:relative;}
.slide.type02 .slideshow {overflow:hidden; position:relative; width:100%; height:100%;}
.slide.type02 .slideshow dd {display:block; position:absolute; top:0; width:100%;}
.slide.type02 .btn {position:absolute; display:block; bottom:141px; margin-top:-20px; padding:0; width:50px; height:50px; text-align:center; background:url(/publish/img/com/slide_controls2.png) no-repeat; border:none; z-index:10; min-width:auto;}
.slide.type02 .btn.prev {left:20px; background-position: 0 0;}
.slide.type02 .btn.next {right:20px; background-position: -50px 0;}
.slide.type02 .indic {position:absolute; top:0; left:0; z-index:10;}
.slide.type02 .indic a {background:none;}
.slide.type02 .caption .tit {font-size:16px; font-weight:bold; padding:17px;}
.slide.type02 .caption .dimm {height:55px;}

.slide+.dep03Sec {margin-top:30px;}

/* 사이버홍보관 */
.vr .vrWrap {width:980px; height:495px; margin-left:-90px; background:url(/publish/img/temp/temp_office_vr.jpg) no-repeat;}
.vr .vr_caption {position:relative;}
.vr .vr_caption p {width:800px; height:80px; margin-left:-90px; padding:27px 90px; overflow:auto; color:#000; font-size:13px; line-height:1.5;}
.vr .vr_caption .btnWrap {width:800px; margin:0; padding:6px 0; background:#fff; position:absolute; bottom:0; right:0;}
.vr .vr_caption .flash_download_btn {text-decoration:underline; font-size:11px; color:#666; padding-right:20px; background:url(/publish/img/ico/ico_download2.png) right center no-repeat;}
.vr .vr_list_group {width:800px; padding:55px 90px; margin:0 0 53px -90px; background:#f6f6f6;}
.vr .vr_list_group .vr_list {}
.vr .vr_list_group .split.col4 li.colSec {margin:20px 12px 0 0; position:relative;}
.vr .vr_list_group .split.col4 li:first-child {margin-left:0;}
.vr .vr_list_group .split.col4 li .tit {padding:7px 10px;}
.vr .vr_list_group .split.col4 li .caption {height:30px;}
.vr_list_group .vr_title {background:none; padding:0; color:#000; font-size:18px; font-weight:normal;}
.vr .dep02Sec {margin-bottom:0;}
.vr .vr_list_group .dep02Sec {margin-bottom:35px;}

/* 사이트맵 */
.sitemap {}
.sitemap:after {content:''; display:block; height:0px; clear:both; visibility:hidden; zoom:1;}
.sitemap dl {float:left; width:253px; margin:40px 20px 0 0;}
.sitemap dl dt {text-align:center; font-size:16px; font-weight:bold; color:#fff; background:#249eb4; padding:20px 0; line-height:1;}
.sitemap dl dd {border:1px solid #d4d4d4; padding:17px 20px; border-top:0; min-height:394px;}
.sitemap .menu_dep01 > li {margin-top:5px;}
.sitemap .menu_dep01 > li:first-child,
.sitemap .menu_dep01 .menu_dep02 > li:first-child{margin-top:0;}
.sitemap .menu_dep01 > li > a {color:#000; font-weight:bold;}
.sitemap .menu_dep01 .menu_dep02 {margin:6px 0 15px 0;}
.sitemap .menu_dep01 .menu_dep02 > li {margin-top:3px;}
.sitemap .menu_dep01 .menu_dep02 > li > a {padding-left:16px; background:url(/publish/img/ico/bul_arrow2.png) 6px center no-repeat;}

/* STEP */
.office .stepWrap.process .lst.col4 > .colSec {width:191px; margin-right:12px;}

/* 첨부파일 */
.office .uploadFile {background:url(/publish/img/ico/ico_file2.png) 0 3px no-repeat;}

/* 관련사이트 */
.familySite {}
.familySite .col3 .colSec {margin:0 31px 10px 0; width:235px;}
.familySite .col3 .colSec a {display:block; padding:8px 0 11px 20px; background:url(/publish/img/com/ico_arrow_right.png) 210px center no-repeat #e5e5e5; border-radius:3px; color:#000;}
.familySite .col3 .colSec a.multiLine {padding-top:0; padding-bottom:3px;}

/* 고리봉사대 */
.activeInfo {margin-top:40px;}
.activeInfo.col3 li.colSec {width:256px; margin-top:0; height:290px;}
.activeInfo.col3 li.colSec dt {background:url(/publish/img/office/03/img_0303010000_02.gif) no-repeat; margin-bottom:20px; padding-left:50px; font-size:22px; font-weight:bold; color:#000;}
.activeInfo.col3 li.colSec dt > span {display:block; margin-bottom:-2px; font-size:12px; font-weight:normal; letter-spacing:0;}
.activeInfo.col3 li.colSec dt.activeInfo01 {background-position:0 5px;}
.activeInfo.col3 li.colSec dt.activeInfo02 {background-position:-260px 5px;}
.activeInfo.col3 li.colSec dt.activeInfo03 {background-position:-530px 5px;}
.activeInfo.col3 li.colSec dt.activeInfo04 {background-position:0 -150px;}
.activeInfo.col3 li.colSec dt.activeInfo05 {background-position:-260px -150px;}
.activeInfo.col3 li.colSec dt.activeInfo06 {background-position:-530px -150px;}
.activeInfo.col3 li.colSec .dep04 li {font-size:14px;}

/* 방사선보건원 */
.numLst > li {padding:12px 20px 15px; font-size:15px; color:#000; vertical-align:middle; border-top:1px #ddd solid;}
.numLst > li:first-child {border-top-width:0;}
.numLst > li > span {float:left; margin-top:-7px; margin-right:10px; font-size:24px; font-weight:bold; color:#3d7cdb;}
.numLst > li:first-child+li > span, .numLst > li:first-child+li+li+li > span {color:#ffa03c;}
.numLst > li:first-child+li+li > span {color:#249eb4;}

.therapy {text-align:left;}
.therapy > dt {margin-bottom:22px; font-weight:bold; font-size:20px; color:#000;}
.therapy > dd {color:#000;}
.therapy > dd.tel {margin-top:20px; font-size:18px; font-weight:bold;}