@charset "utf-8";

/****************************************/
/*	Name: KHNP
/*	PART: RESET STYLE
/*	Version: 1.0
/*	Author: [써냐]BLUEWEBD™
/****************************************/
@font-face {
    font-family: 'khnpheadlineregular';
    src: url('font/khnpheadline_bold-webfont.eot');
    src: url('font/khnpheadline_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/khnpheadline_bold-webfont.woff2') format('woff2'),
         url('font/khnpheadline_bold-webfont.ttf') format('truetype'),
         url('font/khnpheadline_bold-webfont.svg#khnpheadlineregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* basis Selector */
html {}
body {}
body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, thead, tbody, tr, th, td, form, fieldset, legend, input, textarea, button {margin:0; padding:0; font-weight:normal; color:#666; font-family:malgun Gothic;}
body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd {letter-spacing:-1px;}
body, input, select, div, textarea, table, button {font-size:12px; color:#000;}
article, aside, hgroup, header, footer, figure, figcaption, nav, section {display: block;}
figure {margin:0;}
table {width:100%; border:0; border-spacing:0px; border-collapse:collapse;}
html:first-child select {padding-right:6px; height:20px;} /* Opera 9 & Below Fix */
option {vertical-align:middle;  padding:3px 0;} /* Firefox Fix */
legend {display:none; visibility:hidden;}
img, fieldset, button {vertical-align:middle; border:0;}
ul, ol {list-style:none;}
em, address {font-style:normal;}
hr {display:none; visibility:hidden;}
caption  {height: 0; width: 0; font-size: 0; line-height: 0; margin: 0; padding: 0; text-indent:-9999px;}
input, textarea, button {line-height: 1.2; vertical-align: middle;}
/*input*/
input::-webkit-input-placeholder { color:#010101 !important} /* 웹킷 전용 속성 */
input:-moz-placeholder { color:#010101 !important; opacity:1}/* Mozilla Firefox 4 to 18 */
input::-moz-placeholder { color:#010101 !important; opacity:1} /* Mozilla Firefox 19+ */
input:-ms-input-placeholder { color:#010101}/* Internet Explorer 10+ */
input[type=text], input[type=password] {background:#fff; color:#444; padding:6px 1px 4px 1px;/*  text-indent:7px; *text-indent:0; */ vertical-align:middle; border:1px solid #ddd;}
.overlay_wrap {position:relative;}
.overlay_wrap .overlay_guide {position:absolute; top:1px; left:8px; font-size:12px; color:#666; cursor:inherit;}

textarea {background:#ffffff; width:100%;  min-height:90px; resize:none; font-size:13px; line-height:18px; padding:15px; color:#000; vertical-align:middle; border:1px solid #ddd;}
input[type=text]:hover, input[type=password]:hover, textarea:hover {border:1px solid #89b4d3;}
select {border:1px solid #ccc; height:26px; padding:2px 2px 2px 4px;  vertical-align:middle; color:#666;}
input[type="file"] {vertical-align:middle; height:22px; width:80%; margin-right:6px;}
input[type="checkbox"],input[type="radio"] { margin:0; padding:0; vertical-align:middle; width:13px; height:13px; line-height:13px;}
label {cursor:pointer;}
a {text-decoration:none;color:#454545; vertical-align:middle;}
a:hover, a:active, a:focus{text-decoration:none;}

/* 스크롤 차단 */
body.no_scroll {height:100%; overflow:hidden;}

/* design select */
.select-wrap{display:inline-block;*display:inline;zoom:1;vertical-align:middle}
.select-wrap .select-list {display:none;position:absolute;top:34px;left:0;width:100%;overflow:auto;z-index:100;border:1px solid #ddd;}
span.select {position:relative;display:block; height:35px;line-height:33px;}
span.select .def{display:block;position:absolute;left:0;top:0; width:100%;background:#fff; height:33px;text-indent:8px;border:1px solid #ddd;
color:#010101;font-size:13px;overflow:hidden;}
span.select .def > span {display:block; height:100%; background:url(/publish/img/ico/ico_sel.png) no-repeat 100% center; margin-right:10px;}
span.select .options {width:100%;text-align:left;background: #fff;}
span.select .options.on {z-index: 9999;}
span.select .options li {border-top:1px solid #ddd; text-indent:8px;background:#fff;height:33px;line-height:33px;}
span.select .options li a {display:block;font-size:13px;}
span.select .options li a:hover,span.select .options li a.focus {background:#999;color: #fff;}
.tbl tbody tr td span.select a:hover, .tbl tbody tr td span.select a:focus {text-decoration:none;}
span.select .options li:first-child { border-top:0;}
span.select .options li:hover a {color:#fff;font-weight:bold;}

/* design radio - label에 반드시 class="radio" 삽입 */
input[type=radio] {display:none;}
label.radio {display:inline-block; padding-left:18px; background:url(/publish/img/com/sp_radio.png) 0 -28px no-repeat;}
label.radio.on {background-position: 0 4px;}

/* Skip Menu */
.skipMenu {overflow:hidden; position:relative; width:100%; z-index:2;}
.skipMenu a {display:block; font-size:0; height: 1px; line-height:0; margin:0 -1px -1px 0; overflow:hidden;text-align:center; width:1px;}
.skipMenu a:focus, 
.skipMenu a:hover, 
.skipMenu a:active {background:#B40000; color:#fff; font-size:12px; font-weight:bold; margin:0; height:20px; line-height:1; margin:0; padding:8px 0 0 15px; width:auto;}

/****************************/
/* Common Style             */
/****************************/
.hands {cursor:pointer !important;}

.ir {display:block; height: 0; width: 0; font-size: 0; line-height: 0; margin: 0; padding: 0; overflow:hidden;}
.hide {position:relative; z-index:-1; display:block; height:100%; white-space:nowrap; opacity:0; font-size:0;
    -ms-filter:"alpha (opacity=0)"; /* IE8 */
    filter:alpha(opacity = 0); /* IE6 ~ 7 */}


.fixed {table-layout:fixed;} /* table사이즈를 고정 */
.txt_break {
	/* word-break:break-all !important;word-wrap:break-word !important; */
	word-wrap: break-word !important; /* Internet Explorer 5.5+ */
	white-space: pre-wrap !important; /* css-3 */
	white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
	white-space: -pre-wrap !important; /* Opera 4-6 */
	white-space: -o-pre-wrap !important; /* Opera 7 */
	
	} /* td 안에 텍스트 줄바꿈을 시켜줍니다 */

.txt_nowrap {white-space:nowrap;} /* 줄바꿈 없음 */
.ls_m01 {letter-spacing:-1px;} /* Letter spacing */
.ls_nm {letter-spacing:normal !important;}
	
/* clear class */
.clear {clear:both !important;}
.clfix:after {content:'.'; display:block; height:0px; clear:both; visibility:hidden;}
.clfix {display:inline-block;}
.clfix {display:block;}
* html .clfix {height:1%;} /* hides from ie-mac */
.clfix {zoom:1;} /*for ie 5.5-7*/

.fn {float:none !important;}

.split {}
.split:after {content:'.'; display:block; height:0px; clear:both; visibility:hidden; zoom:1;}
.split > .colSec {float:left; margin:0; text-align:left;}
.split.alR > .colSec {float:right; margin:0; text-align:right;}
.split.col2 > .colSec:first-child {float:left; text-align:left;}
.split.col3 > .colSec {float:left; width:256px; margin-right:16px;}
/* ALIGN */
.alC {text-align:center !important;}
.alL {text-align:left !important;}
.alR {text-align:right !important;}
.alJ {text-align:justify !important;}

.vaT {vertical-align:top !important;}
.vaM {vertical-align:middle !important;}
.vaB {vertical-align:bottom !important;}
.vapx {vertical-align:-1px !important;}

.fl {float:left !important;}
.fr {float:right !important;}

/* TEXT COLOR*/
/* pointBl-blue, pointOr-orange, pointRe-red, pointGn-green, pointGy-gray, pointBk-black, pointWh-white */
.pointBl {color:#1479c7 !important;}
.pointOr {color:#ff6000 !important;}
.pointRe {color:#ED1C24 !important;}
.pointGn {color:#61ac1e !important;}
.pointGy01 {color:#606060 !important;}
.pointGy02 {color:#666 !important;}
.pointGy03 {color:#999 !important;}
.pointBk {color:#000 !important;}
.pointWh {color:#fff !important;}
.pointPK {color:#F03D98 !important;}

.colorbox {display:inline-block; background:#0060c2; color:#fff; padding:3px 10px 5px;}